<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="arm_transmission">
         <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>    
            <joint name="panda_joint1">
                <command_interface name="effort">
                    <param name="min">-2.9671</param>
                    <param name="max">2.9671</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="panda_joint2">
                <command_interface name="effort">
                    <param name="min">-1.8326</param>
                    <param name="max">1.8326</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>               
            </joint>

            <joint name="panda_joint3">
                <command_interface name="effort">
                    <param name="min">-2.9671</param>
                    <param name="max">2.9671</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="panda_joint4">
                <command_interface name="effort">
                    <param name="min">-3.1416</param>
                    <param name="max">0.0873</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="panda_joint5">
                <command_interface name="effort">
                    <param name="min">-2.9671</param>
                    <param name="max">2.9671</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="panda_joint6">
                <command_interface name="effort">
                    <param name="min">-0.0873</param>
                    <param name="max">3.8223</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

             <joint name="panda_joint7">
                <command_interface name="effort">
                    <param name="min">-2.9671</param>
                    <param name="max">2.9671</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="panda_finger_joint1">
               <command_interface name="effort">
                    <param name="min">0.0</param>
                    <param name="max">0.04</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="panda_finger_joint2">
                <param name="mimic">panda_finger_joint1</param>
                <param name="multiplier">1.0</param>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
