<?xml version="1.0"?>
<robot name="panda" xmlns:xacro="http://www.ros.org/wiki/xacro" >
    

    <xacro:include filename="$(find robot_desc)/urdf/mech/arm_define.urdf.xacro"/>
    <xacro:arm_define/>

    <xacro:include filename="$(find robot_desc)/urdf/control/gazebo_sim_ros2_control.urdf.xacro"/>
    <xacro:load_gazebo_sim_ros2_control_plugin/>


    <xacro:include filename="$(find robot_desc)/urdf/control/arm_transmission.urdf.xacro" />
    <xacro:arm_transmission/>

    
    
</robot>
